body {
  margin: 0;
  padding: 0;
}
#Xinyi {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 80%; 
} 


#toolbar{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20%; 
  left:80%;
} 

#title{
  margin-left:3%;
  margin-right:3%;
}

#restName{
  margin-left:3%;
  margin-right:3%;
}

#restText{
  margin-left:3%;
  margin-right:3%;
}



/* 图例部分的样式 */
#legend {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;  /* 圆角效果，让图例更好看 */
}
